[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/codebyshennan/kubernetes.git
[submodule "cloud"]
	path = cloud
	url = https://github.com/codebyshennan/cloud.git
[submodule "90DaysOfDevOps"]
	path = 90DaysOfDevOps
	url = https://github.com/codebyshennan/90DaysOfDevOps.git
